.cart-category-section{
    margin: 2rem auto 0 auto;
}

.cart-block{
    display: grid;
    grid-template-columns: 65% 1fr;
    gap: 2rem;
    grid-template-areas: 
    "cart-item-list cart-total-info";
}

.cart-item-list{
    grid-area: cart-item-list;
}

.cart-total-info{
    grid-area: cart-total-info;
    height: fit-content;
}

.cart-item-list,
.cart-total-info{
    border: 1px solid var(--font-gray-light);
    border-radius: var(--radius-lg);
    padding: 1rem;
}

.cart-item{
    height: 8rem;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}

.cart-item .cards-cta{
    gap: 1rem;
}

.product-img{
    width: 8rem;
}

.discount-coupon{
    background-color: var(--background-skyblue-opaque);
    padding: 1rem;
    border-radius: var(--radius-lg);
}

.discount-cta{
    gap: 1rem;
}

.checkout .btn{
    width: 100%;
}

@media  only screen and  (max-width: 1080px){
    .cart-block{
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
        grid-template-areas: 
        "cart-item-list"
        "cart-total-info";
    }
}